<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>カウントアプリ</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/img/favicon.ico">
</head>
<body>
  <div>
    <p><%= @counter %></p>
    <form action="/count" method="POST">
      <input type="submit" value="+">
    </form>
  </div>
    <div>
    <form action="/minus" method="POST">
      <input type="submit" value="-">
    </form>
  </div>
  <div>
    <form action="/multiplied" method="POST">
      <input type="submit" value="×">
    </form>
  </div>
  <div>
    <form action="/clear" method="POST">
      <input type="submit" value="clear">
    </form>
  </div>
</body>
</html>
